<div class="vsp-carousel">
  <div glide settings="carouselCtrl.sliderSettings" slide-data="carouselCtrl.items">
  </div>
</div>
<pre class="raw" ng-bind="carouselCtrl | json"></pre>









<script type="text/ng-template" id="slide-item.html">
  <div slick settings="carouselCtrl.sliderSettings" class="slide-row">
    <div class="slide-item" ng-repeat="x in carouselCtrl.items">
      <img data-lazy="{{carouselCtrl.image($index)}}" class="slide-bg"/>
      <div class="slide-bottom-info">
        <div ng-bind="x.title"></div>
      </div>
    </div>
  </div>
</script>