<div class="glide vsp-slider" ng-class="{'nav-active': navActive}">
  <div class="vsp-slider__title">
    <h2>Categoria</h2>
  </div>


  <!-- SLIDER TRACK -->

  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides slide-row">
      <li class="slide-item glide__slide" ng-repeat="x in slideData" ng-click="onClick($event)" ng-mouseover="onMouseOver($event)"
          ng-mouseleave="onMouseLeave($event)">
        <img ng-src="{{x.thumbUrl}}" class="slide-bg--small" />
        <img ng-src="{{x.imageUrl}}" class="slide-bg--large" />



        <div class="slide-item__overlay hidden">
          <a class="slide-item__btn-play" href="#">
            <i class="glyphicon glyphicon-play"></i>
          </a>

          <div class="slide-info--bottom">
            <div></div>

            <span ng-bind="$index + 1"></span>
            <div ng-bind="x.title"></div>
          </div>
        </div>

      </li>
    </ul>
  </div>

  <!-- SLIDER BUTTON LEFT -->

  <div class="glide__arrows controls-container--left" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
      <i class="glyphicon glyphicon-triangle-left"></i>
    </button>
  </div>

  <!-- SLIDER BUTTON RIGHT -->
  <div class="glide__arrows controls-container--right" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
      <i class="glyphicon glyphicon-triangle-right"></i>
    </button>
  </div>

</div>



<div>
  <button ng-click="exitNavigation()">Sair navegação</button>
</div>
<script type="text/ng-template" id="slide-item.html">


</script>